<!-- 導覽選單 -->
<div class="fireMenu">
    <div class="close"></div>
    <div class="fireContent">
        <div class="fireLogo"><img src="/images/fire.svg" alt=""> </div>
        <a asp-controller="FireGeneration" asp-action="Intro">簡介</a>
        <a asp-controller="FireGeneration" asp-action="TimeLine">故事時間軸</a>
        <a asp-controller="FireGeneration" asp-action="WorldView">世界觀</a>
        <div class="warningLines "></div>
    </div>
</div>