<div class="js-ctrl-background" data-header="bright">
    <!-- 時間軸 - 季 - 章 -->
    <div class="overflowAuto-y h100">
        <img src="/images/comic-01.png" alt="">
        <img src="/images/comic-02.png" alt="">
    </div>

    <!-- 側邊導覽列 -->
    <partial name="_SideNavigation.cshtml" />
</div>

@section Scripts {
<script src="~/js/Work-FireGeneration.js"></script>
}