<style>
    .nameDiv {
        margin-bottom: 0.5rem;
    }

    .characterInfo {
        top: 50%;
        position: relative;
    }
    td{
        border:1px solid #000;
    }
</style>

<!-- 角色介紹 -->
<div class="js-ctrl-background" data-header="dark">
    <div class="grid-container h100 relative">
        <div><a href="/FireGeneration/Intro">返回按鈕</a></div>

        <!-- 角色正反面 -->
        <div class="character">
            <div class="front active">
                <!-- 部件 -->
                <div>
                    <table>
                        <tr>
                            <td>
                                <div class="btn plus">+</div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="btn plus">+</div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="btn plus">+</div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="btn plus">+</div>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <!-- 角色圖 -->
                <div>
                    <img src="/images/free-character.png" alt="">
                </div>
            </div>

            <div class="back">
                <!-- 部件 -->
                <div>
                    <table>
                        <tr>
                            <td>
                                <div class="btn plus">+</div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="btn plus">+</div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <div class="btn plus">+</div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="btn plus">+</div>
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <!-- 角色圖 -->
                <div>
                    <img src="/images/free-character-back.png" alt="">
                </div>
            </div>
        </div>

        <!-- 部件介紹 -->
        <div class="column-6 pre-18">
            <div class="">
                <div><img src=""></div>
                <div>介紹1</div>
            </div>
            <!-- <div>
                <div><img src=""></div>
                <div>介紹2</div>
            </div>
            <div>
                <div><img src=""></div>
                <div>介紹3</div>
            </div>
            <div>
                <div><img src=""></div>
                <div>介紹4</div>
            </div>
            <div>
                <div><img src=""></div>
                <div>介紹5</div>
            </div>
            <div>
                <div><img src=""></div>
                <div>介紹6</div>
            </div>
            <div>
                <div><img src=""></div>
                <div>介紹7</div>
            </div>
            <div>
                <div><img src=""></div>
                <div>介紹8</div>
            </div>
            <div>
                <div><img src=""></div>
                <div>介紹9</div>
            </div>
            <div>
                <div><img src=""></div>
                <div>介紹10</div>
            </div> -->
        </div>

        <!-- 角色介紹 -->
        <div class="column-6 pre-18 h100">
            <div class="characterInfo">
                <div class="nameDiv">
                    <h4>熊鷹</h4>
                    <p>Et quis nisi esse aute fugiat ea voluptate ut laborum aliqua id adipisicing.</p>
                </div>

                <div class="media">
                    <div class="mediaContent"></div>
                    <div class="mediaContent"></div>
                    <div class="mediaContent"></div>
                    <div class="mediaContent"></div>
                    <div class="mediaContent"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 側邊導覽列 -->
    <partial name="_SideNavigation.cshtml" />
</div>

@section Scripts {
<script src="~/js/Work-FireGeneration.js"></script>
}