<!-- 時間軸 -->
<div class="js-ctrl-background h100" data-header="dark">
    <div class="grid-container h100 relative">
        <!-- 季單位 -->
        <div class="column-6 h100">
            
             <div class="storyDiv">
            <!-- 封面圖片 -->
            <div class="storyImg">
                <img src="/images/Nn.png">
            </div>
            <!-- 內容 -->
            <div class="storyContent">
                <!-- 標題 -->
                <div class="title">01</div>
                <!-- 簡介 -->
                <div class="info">testtset</div>
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="node active"></div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="3">
                                <div class="node-line"></div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="node"></div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>

                            <td colspan="4">
                                <div class="node-line"></div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="node"></div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td colspan="2">
                                <div class="node-line"></div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="node"></div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div>
                <div>
                    <img src="" alt="chapter image 1">
                    <img src="" alt="chapter image 2">
                    <img src="" alt="chapter image 3">
                    <img src="" alt="chapter image 4">
                </div>
                <div>標題</div>
                <div>簡介</div>
            </div>

            <div>收合</div>
            </div>
        </div>
    </div>

    <!-- 側邊導覽列 -->
    <partial name="_SideNavigation.cshtml" />
</div>

@section Scripts {
<script type="text/javascript" src="~/js/Work-FireGeneration.js"></script>
}