<style>
    .test{
        width: 30%;
    display: inline-block;
    float: left;
    margin: 0.5rem;
}

ul{
   color: #fff;
    background: #292929;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
</style>

<!-- 世界觀 -->
<div class="js-ctrl-background h100" data-header="bright">
    <!-- <h1>world view</h1> -->
    <div class="grid-container h100 relative">

        <div class="column-8">
            <div class="camera">
                <div class="space">
                    <div class="box">
                        <div class="test">
                            <div class="btn btnSquare center gray border">
                                世界
                            </div>
                            <div class="btn btnSquare center gray border"> 場景</div>
                            <div class="btn btnSquare center gray border"> 設定</div>
                            <div class="btn btnSquare center gray border"> 擴充</div>
                        </div>
                        <div class="test">
                            <ul>
                                <li>test</li>
                                <li>test</li>
                                <li>test</li>
                                <li>test</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="column-6">
            <div class="btn btnSquare center gray border">
                世界
            </div>
        </div>
        <div class="column-6">
            <div class="btn btnSquare center gray border">
                世界
            </div>
        </div>
        <div class="column-6">
            <div class="btn btnSquare center gray border">
                世界
            </div>
        </div>
        <div class="column-6">
            <div class="btn btnSquare center gray border">
                世界
            </div>
        </div> -->
        <!-- 內容 -->
        <div class="column-16">
            <img src="/images/scenes.jpg" alt="">
        </div>

        <!-- 手掌 -->
        <div class="leftHand column-8"></div>
        <div class="rightHand pre-8 column-8"></div>

        <!-- 準心 -->
        <div class="concentric"></div>
    </div>

    <!-- 側邊導覽列 -->
    <partial name="_SideNavigation.cshtml" />
</div>

@section Scripts {
<script type="text/javascript" src="~/js/Work-FireGeneration.js"></script>
}