<!-- 世界觀 -->
<div data-header="js-ctrl-background">
    <h1>world view</h1>
    <div class="grid-container h100 relative">
        <!-- <div class="column-12 leftHand"></div>
        <div class="column-12 rightHand"></div> -->
        <div class="btnSquare center gray">
            <div>世界</div>
            <div style="padding-left: 50px;">
                <ul>
                    <li>世界子選單1</li>
                    <li>世界子選單2</li>
                    <li>世界子選單3</li>
                    <li>世界子選單4</li>
                </ul>
            </div>
        </div>
        <div class="btn btnSquare center gray"> 場景</div>
        <div class="btn btnSquare center gray"> 設定</div>
        <div class="btn btnSquare center gray"> 擴充</div>
    </div>

    <!-- 側邊導覽列 -->
    <partial name="_SideNavigation.cshtml" />
</div>

@section Scripts {
<script type="text/javascript" src="~/js/Work-FireGeneration.js"></script>
}