<style>
    .test{
        width: 30%;
    display: inline-block;
    float: left;
    margin: 0.5rem;
}

ul{
   color: #fff;
    background: #292929;
 padding: 0.5rem;
    width: 100%;
    overflow: hidden;
}

.fixed{
    position: fixed;
}
</style>

<!-- 世界觀 -->
<div class="js-ctrl-background h100" data-header="bright">
    <!-- <h1>world view</h1> -->
    <div class="grid-container h100 relative overflowAuto-y">
        <div class="column-8 fixed">
            <div class="camera">
                <div class="space">
                    <div class="box">
                        <!-- 分類選單 -->
                        <div class="test">
                            <div class="">
                                <div class="btn btnSquare center gray border">世界</div>
                                <div class="">
                                    <ul>
                                        <li>世界 - 1</li>
                                        <li>世界 - 2</li>
                                        <li>世界 - 3</li>
                                        <li>世界 - 4</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="btn btnSquare center gray border">場景</div>

                            <div class="btn btnSquare center gray border">設定</div>

                            <div class="btn btnSquare center gray border">擴充</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 內容 -->
        <div class="column-16 pre-8">
            <div class="readSection-1">
                <h2>test</h2>
                <hr>

                <img src="/images/scenes.jpg" alt="" align="top">
                <p>Officia minim eu nisi consequat irure est irure deserunt ex. Aliquip esse veniam nisi deserunt
                    aliquip id. Proident cupidatat nisi deserunt do excepteur reprehenderit magna commodo dolor do
                    anim
                    esse irure fugiat. Et qui tempor laboris laborum ullamco tempor pariatur sunt nulla fugiat
                    cillum.Officia minim eu nisi consequat irure est irure deserunt ex. Aliquip esse veniam nisi
                    deserunt
                    aliquip id. Proident cupidatat nisi deserunt do excepteur reprehenderit magna commodo dolor do
                    anim
                    esse irure fugiat. Et qui tempor laboris laborum ullamco tempor pariatur sunt nulla fugiat
                    cillum.</p>

                <img src="/images/scenes.jpg" alt="" align="right">


            </div>
        </div>
    </div>
    <!-- 手掌 -->
    <!-- <div class="leftHand column-8"></div>
        <div class="rightHand pre-8 column-8"></div> -->

    <!-- 準心 -->
    <!-- <div class="concentric"></div> -->
</div>

<!-- 側邊導覽列 -->
<partial name="_SideNavigation.cshtml" />
</div>

@section Scripts {
<script type="text/javascript" src="~/js/Work-FireGeneration.js"></script>
}