<div class="js-ctrl-background" data-header="dark">
    <!-- 主視覺 -->
    <div class="masterVision">
        <div class="">
            <!-- <div class="logoDiv">
                <div class="logoImg icon-logo"></div>
            </div> -->
            <!-- <div class="wing"></div> -->
            <div class="adj"></div>
            <div class="moon"></div>
            <!-- <div class="bgRed"></div> -->
        </div>
    </div>
    <!-- Index -->
    <div class="grid-container h100 relative">
        <!-- 導覽區 -->
        <div class="sign">
            <nav>
                <a class="prev" href="#">PREV</a>
                <a class="next" asp-controller="Home" asp-action="News">NEXT</a>
            </nav>
            <div class="now">Index</div>
        </div>

        <div>
            <h2>首頁</h2>
            <div>內容</div>
        </div>
    </div>
</div>
@section Scripts {
<script src="~/js/Work-FireGeneration.js"></script>
}