<style>
    .section-1 {
        background-image: url("/images/moon.png");
    }
 .section-3 {
        background-image: url("/images/X-logo.png");
    }

    .out{
        height: 1300px;
    }
    .wrapper{
        overflow: scroll;
    }

.article {
   
    margin: 0 auto;
    height: 400px;
    padding: 40px;
    font: 24px 'Arial';
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    line-height: 28px;
}
</style>



<div class="js-ctrl-background" data-header="dark">
    <!-- 主視覺 -->
    <div class="masterVision">
        <div class="">
            <!-- <div class="logoDiv">
                <div class="logoImg icon-logo"></div>
            </div> -->
            <!-- <div class="wing"></div> -->
            <div class="adj"></div>
            <div class="moon"></div>
            <!-- <div class="bgRed"></div> -->
        </div>
    </div>
    <!-- Index -->
    <div class="grid-container h100 relative">
        <!-- 導覽區 -->
        <div class="sign">
            <nav>
                <a class="prev" href="#">PREV</a>
                <a class="next" asp-controller="Home" asp-action="News">NEXT</a>
            </nav>
            <div class="now">Index</div>
        </div>

        <div>
            <h2>首頁</h2>
            <div>內容</div>

            <!-- 視差捲軸 測試 -->
            <div class="out">
                <div class="article section-1">
                    TEST-1 <br>
                    TEST-1 <br>
                    TEST-1 <br>
                </div>
                <div class="article section-2">
                    TEST-2 <br>
                    TEST-2 <br>
                    TEST-2 <br>

                </div>
                <div class="article section-3">
                    TEST-3 <br>
                    TEST-3 <br>
                    TEST-3 <br>
                </div>


            </div>
        </div>
    </div>
</div>
@section Scripts {
<script src="~/js/Work-FireGeneration.js"></script>
}