<div class="grid-container h100 relative  overflowAuto-y">
      <!-- 返回 -->
     <div class="right"><a asp-controller="Home" asp-action="Issues">返回按鈕</a></div>
    <!-- 左邊操作區 -->
    <div>
        <!-- 主題 -->
        <h2 class="theme">ISSUE</h2>
        <!-- 議題標題 -->
        <div>沒有人是局外人</div>
       
        <!-- 相關內容 -->
        <div>
            <div>相關內容</div>
            <div>輪播區域</div>
            <!-- 分享至社群 -->
            <div>Twitter</div>
            <div>FB</div>
            <div>IG</div>
        </div>
    </div>
    <!--end 左邊操作區 -->
        <!--右邊議題區 -->
    <div class="">
        <!-- 議題群組 -->
        <div class="column-18 h100 pre-6">
            <div class="issueDiv">
                <!-- 時間線 -->
                <div class="timeGroup column-6">
                    <div class="timeNode">TEST</div>
                    <div class="issueDate">
                        <div class="date">2018-12-16</div>
                    </div>
                </div>
                <div class="issueContent column-12">
                    <p>
                        Incididunt dolor nulla labore laborum dolor ex. Elit in voluptate irure do officia consectetur.
                        Aliquip id irure mollit ea id adipisicing ex cupidatat id sunt qui ex Lorem. Laborum adipisicing
                        mollit ex incididunt non dolore elit proident ullamco duis. Ipsum amet sint et sint ut proident
                        eiusmod ex ad duis laboris proident.
                    </p>
                    <img src="/images/issue-01.jpg">
                </div>
            </div>
        </div>
        <!--end 右邊議題群組-->
    </div>
</div>