<!-- NEWS -->
<div class="grid-container h100 relative overflowAuto-y">
    <!-- 導覽區 -->
    <div class="sign">
        <nav>
            <a class="prev" asp-controller="Home" asp-action="Index">PREV</a>
            <a class="next" asp-controller="Home" asp-action="Works">NEXT</a>
        </nav>
        <div class="now">NEWS</div>
    </div>

    <!-- 人物素材 -->
    <!-- <div class="column-3 bgBlock"></div> -->
    <div class="test2"></div>
    <h2 class="theme">NEWS</h2>

    <!-- 左側內容 -->
    <div class="column-15 h100 z999 pre-3">
        <!-- 新聞單元 -->
        <div class="newsDiv js-block-news">
            <div class="newsImg">
                <img src="/images/test.jpg">
            </div>

            <div class="newsContent">
                <fieldset>
                    <legend>Title - <span>2018/01/01</span></legend>

                    <div class="news">內容內容內容內容內容內容內容內容內容內容容內容內容內容內容內容內容內容內容內容容內容內容內容內容內容內容內容內容內容容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容ㄒ內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</div>
                    <div class="media">
                        <div class="mediaContent"></div>
                        <div class="mediaContent"></div>
                        <div class="mediaContent"></div>
                        <div class="mediaContent"></div>
                        <div class="mediaContent"></div>
                    </div>
                </fieldset>

                <div class="btn btnSquare js-btn-more">more</div>
                <div class="btn btnSquare">tag</div>
            </div>
        </div>

        <!-- 新聞單元 -->
        <div class="newsDiv js-block-news">
            <div class="newsImg">
                <img src="/images/test.jpg">
            </div>

            <div class="newsContent">
                <fieldset>
                    <legend>Title - <span>2018/01/01</span></legend>

                    <div class="news">內容內容內容內容內容內容內容內容內容內容容內容內容內容內容內容內容內容內容內容容內容內容內容內容內容內容內容內容內容容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容ㄒ內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</div>
                    <div class="media">媒體區塊</div>
                </fieldset>

                <div class="btn btnSquare js-btn-more">more</div>
                <div class="btn btnSquare">tag</div>
            </div>
        </div>

        <!-- 新聞單元 -->
        <div class="newsDiv js-block-news">
            <div class="newsImg">
                <img src="/images/test.jpg">
            </div>

            <div class="newsContent">
                <fieldset>
                    <legend>Title - <span>2018/01/01</span></legend>

                    <div class="news">內容內容內容內容內容內容內容內容內容內容容內容內容內容內容內容內容內容內容內容容內容內容內容內容內容內容內容內容內容容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容ㄒ內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</div>
                    <div class="media">媒體區塊</div>
                </fieldset>

                <div class="btn btnSquare js-btn-more">more</div>
                <div class="btn btnSquare">tag</div>
            </div>
        </div>

        <!-- 新聞單元 -->
        <div class="newsDiv js-block-news">
            <div class="newsImg">
                <img src="/images/test.jpg">
            </div>

            <div class="newsContent">
                <fieldset>
                    <legend>Title - <span>2018/01/01</span></legend>

                    <div class="news">內容內容內容內容內容內容內容內容內容內容容內容內容內容內容內容內容內容內容內容容內容內容內容內容內容內容內容內容內容容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容ㄒ內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容內容</div>
                    <div class="media">媒體區塊</div>
                </fieldset>

                <div class="btn btnSquare js-btn-more">more</div>
                <div class="btn btnSquare">tag</div>
            </div>
        </div>
    </div>

    <!-- 右側篩選 -->
    <div class="column-6 h100 z999">
        <!-- 年度分類 -->
        <div class="dateDiv">
            <div>
                <div class="btn date center">Year+</div>
                <div class="btn btnMonth">201810</div>
                <div>201809</div>
                <div>201808</div>
                <div>201807</div>
                <div>201806</div>
            </div>
        </div>

        <!-- 雜湊標籤 -->
        <div class="dateDiv">
            <div class="btn btnSquare gray center">tag</div>
        </div>
    </div>
</div>
@section Scripts{
<script src="~/js/News.js"></script>
}