<!-- 時間軸 -->
<div class="js-ctrl-background" data-header="dark"></div>
<div class="grid-container h100 relative">
    <!-- 季單位 -->
    <div class="column-6 h100">
        <a asp-controller="FireGeneration" asp-action="Season" asp-route-id="1">
            <div class="storyDiv">
                <!-- 封面圖片 -->
                <div class="storyImg">
                    <img src="/images/Nn.png">
                </div>
                <!-- 內容 -->
                <div class="storyContent">
                    <!-- 標題 -->
                    <div class="title">01</div>
                    <!-- 簡介 -->
                    <div class="info">testtset</div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="node active"></div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td colspan="3">
                                <div class="node-line"></div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="node"></div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>

                            <td colspan="4">
                                <div class="node-line"></div>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="node"></div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td colspan="2">
                                <div class="node-line"></div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="node"></div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </a>
    </div>

    <!-- 季單位 -->
    <div class="column-6 h100">
        <div class="storyDiv">
            <!-- 封面圖片 -->
            <div class="storyImg">
                <img src="/images/Nn.png">
            </div>
            <!-- 內容 -->
            <div class="storyContent">
                <!-- 標題 -->
                <div class="title">01</div>
                <!-- 簡介 -->
                <div class="info">testtset</div>
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node active"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3">
                            <div class="node-line"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>

                        <td colspan="4">
                            <div class="node-line"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">
                            <div class="node-line"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- 季單位 -->
    <div class="column-6 h100">
        <div class="storyDiv">
            <!-- 封面圖片 -->
            <div class="storyImg">
                <img src="/images/Nn.png">
            </div>
            <!-- 內容 -->
            <div class="storyContent">
                <!-- 標題 -->
                <div class="title">01</div>
                <!-- 簡介 -->
                <div class="info">testtset</div>
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node active"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3">
                            <div class="node-line"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>

                        <td colspan="4">
                            <div class="node-line"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">
                            <div class="node-line"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- 季單位 -->
    <div class="column-6 h100">
        <div class="storyDiv">
            <!-- 封面圖片 -->
            <div class="storyImg">
                <img src="/images/Nn.png">
            </div>
            <!-- 內容 -->
            <div class="storyContent">
                <!-- 標題 -->
                <div class="title">01</div>
                <!-- 簡介 -->
                <div class="info">testtset</div>
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node active"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td colspan="3">
                            <div class="node-line"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>

                        <td colspan="4">
                            <div class="node-line"></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="2">
                            <div class="node-line"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="node"></div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 側邊導覽列 -->
<partial name="_SideNavigation.cshtml" />

@section Scripts {
<script type="text/javascript" src="~/js/Work-FireGeneration.js"></script>
}